<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GuessThePic.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>38D98DDB6BDC072B4709CEE6535B7870AFA34A73</string>
				<key>dateExpires</key>
				<string>20.07.2024</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>3V7H9MP56S.com.brave.GuessThePic</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.game-center</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>3V7H9MP56S</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>GuessThePic.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>6611a2bd-d196-4895-ad81-63eeb876a545</string>
				<key>dateExpires</key>
				<string>20.07.2024</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.brave.GuessThePic</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>3V7H9MP56S</string>
				<key>name</key>
				<string>Sergey Hrabrov</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
